# To update these lines, execute 
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=exercises/.template,exercises/00_intro,exercises/01_basic_cc_binary,exercises/02_basic_cc_test,exercises/03_sharing_code_with_libraries,exercises/04_labels
query --deleted_packages=exercises/.template,exercises/00_intro,exercises/01_basic_cc_binary,exercises/02_basic_cc_test,exercises/03_sharing_code_with_libraries,exercises/04_labels

test --test_output=streamed
test --test_keep_going=false
test --test_runner_fail_fast